{% extends "base.html.twig" %}

{% block title %}MediaPhoto{% endblock %}

{% block body %}

    <a href="/">Accueil</a> > 
    <div class="galery-info-container">
        <h1>Bienvenue sur MediaPhoto </h1>
        <p>Explorez les photos publiés par des utilisateurs, ou postez-en !</p>
    </div>
    
    <div class="search-bar-container">
        <form action="/sort-gallery" method="POST">
            <div class="search-bar">
                <input type="text" id="search-bar" name="search-bar" placeholder="Entrez un mot clé" size="40">
                <input type="submit" id="submit-button" value="Rechercher">
            </div>
            <div class="cancelSort">
            {% if motCle is not empty %}
                Trie appliqué pour les galeries contenant le mot clé : {{motCle}}
            {% endif %}
            </div>
        </form>
    </div>
    {% if connecter == false %}
    <h1>Public :</h1>
    <div class="gallery-container"> 

        {% for gallery in galleries %}
        {% if gallery.getAcces() %}
        
            <div class="img-gallery-grid">
                <a href="/gallery/{{gallery.id}}">
                    <img class="img-id" src="/img/image.png">
                </a>
                <p class="description-img">{{gallery.titre}}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <h1>Public :</h1>
    <div class="gallery-container"> 

        {% for gallery in galleries %}
        {% if gallery.getAcces() %}
        
            <div class="img-gallery-grid">
                <a href="/gallery/{{gallery.id}}">
                    <img class="img-id" src="/img/image.png">
                </a>
                <p class="description-img">{{gallery.titre}}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Privé :</h1>
    <div class="gallery-container"> 
    {% for galleryPrivate in galleryPrivates %}
            <div class="img-gallery-grid">
                <a href="/gallery/{{galleryPrivate.getId()}}">
                    <img class="img-id" src="/img/image.png">
                </a>
                <p class="description-img">{{galleryPrivate.titre}}</p></a>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}