{% extends "base.html.twig" %}

{% block title %}MediaPhoto - Images{% endblock %}

{% block body %}
    <a href="/">Accueil</a> > <a href="/gallery/{{gallery.id}}">Galerie : {{gallery.titre}}</a>
    <div class="galery-info-container">
        <h1>
            {{gallery.titre}} 
            {% if connecter %}
            {% if creatorUser == id_util %}
            <a href="/uploadImage/{{idGallery}}">
                <img src="/img/add.png" style="width: 25px">
            </a>
            {% endif %}
            <a href="/edit-gallery/{{gallery.id}}">
                <img src="/img/edit.png" alt="">
            </a>
            {% endif %}
        </h1>
        <span>par {{gallery.getUser().getPseudo()}}</span>
        <span>{{gallery.getDateString(gallery.getDate())}}</span>
        <span>Galerie: {{gallery.getAccesString(gallery.getAcces)}}</span>
        <p>{{gallery.description}}</p>
    </div>
    <div class="search-bar-container">
        <form action="/sort-image" method="POST">
            <div class="search-bar">
                <input type="text" id="search-bar" name="search-bar" placeholder="Entrez un mot clé" size="40">
                <input type="submit" id="submit-button" value="Rechercher">
            </div>
            <div class="cancelSort">
            {% if motCle is not empty %}
                Trie appliqué pour les galeries contenant le mot clé : {{motCle}}
            {% endif %}
        </form>
    </div>
    {% if gallery.getAcces() == false %}
    <h2>Ajouter l'accès à un utilisateur :</h2>
    
    <form action="/addUserGallery/{{gallery.id}}" method="POST">
        <input type="text" id="adduser" name="addUser" placeholder="Ajouter un membre" size="40">
        <br>
        <input type="submit" id="submit-button" value="Ajouter">
    </form>

    {% endif %}
    <div class="gallery-container">
        {% for image in images %}
        <div class="img-gallery-grid">
            <a href="/image/{{image.id_img}}">
                <img src="data:{{image.getImgMime()}};base64,{{image.getBlobToString()}}"/>
            </a>
            <p class="description-img">{{image.titre}}</p>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}